$bg-color: #131212;
$hover-color:#c1ddf2;
$title-color : #fff;

.main-component-container {
  display: flex;
  flex-direction: column;
  padding: 5%;
  align-items: center;
  background-color: $bg-color;
  height: 100vh;

  .container {
    width: 100%;
  }

  h1 {
    font-size: 50px;
    margin-bottom: 20px;
    font-weight: 600;
    color: $title-color
    
  }

  calcite-list {
    width: 70%;
    margin-top: 20px;
    list-style: none;

    .service-item {
      background-color: white;
      margin-block: 5px;
      padding: 1%;
      border: 2px solid;

      &:hover {
        background-color: $hover-color;
      }

      .title {
        font-size: 21px;
        font-weight: bold;
      }

      .type {
        font-size: 17px;
      }
    }
  }

  .service-details {
    .service-modal {
      #modal-title {
        font-size: 24px;
        font-weight: 700;
        color: #d50707;
      }

      .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    
        padding: 15px;
        p {
          font-size: 25px;
          color: black;
          font-style: normal;
          font-family: 'Courier New', Courier, monospace;
        
        }
      }
    }
  }
}
